body{
	background-color: #0F0E0E;
	/*color: #66000e;*/
	text-shadow: #66000E 5px 5px 5px;
	color: #66000E;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
h2{
	color: rgba(150,63,5,1.00);
}
.personalProjects{
	display: flex;
	image-resolution: snap;
	background-size: cover;
	width:auto;
	height: 200px;
}
.personalProjectSub{
	min-width: 200px;
	/*display:flex;*/
	background-size: 100%;
	display: inline-flex;
	float: center;
	width: 100% 100% 500px;
	margin-left: 20px;
}
.marineDown{
	position:absolute;
	top: 660px;
	bottom: 0;
	right: 0;
	left: 52px;
	height: 75%;
	width: 25%;
	opacity: 0;
	transition: .5s ease;
	background-color: #66000e;
}
.marineDown:hover{
	opacity: 1;
}
.marineDown{
	background-image: url("../PortfolioSite/holly-mindrup-j7RQSDAhpYI-unsplash.jpg");
	background-size: 100% 100%;
}
.marineText{
	color:#662C0A;
	font-size: 20px;
	position: relative;
	text-align: justify;
}
.saveTheBoy{
	position: absolute;
	width: 32%;
	height: 75%;
	left: 585px;
	top: 660px;
	transition: 1.5s ease;
	opacity: 0;
}
.saveTheBoy:hover{
	opacity: 1;
}
.saveTheBoyText{
	color: #0f0e0e;
	font-size: 20px;
	position: relative;
	text-align: justify;
}

.saveTheBoy{
	background-image: url("../PortfolioSite/specna-arms-wYYo7xfe-1s-unsplash.jpg");
	background-size: 100% 100%;
}

.alphaOmegaU{
	background-image: url("../PortfolioSite/philip-jahn-qjKwZxA7ewM-unsplashVurgEltzCastle.jpg");
	background-size: 100% 100%;
}
.alphaOmegaU{
	position: absolute;
	width: 32%;
	height: 75%;
	right: 49px;
	top: 660px;
	transition: 1.5s ease;
	opacity: 0;
}
.alphaOmegaU:hover{
	opacity: 1;
}
.titleBar{
	display: flex;
	flex: 1;
	align-self: flex-end;
	justify-content: flex-end;
	align-content: space-between;
}
.contact{
	margin: 10px;
	padding: 10px;
	border-color: #66000E;
	border-style: groove;
	border-width: 10px;
	color: rgba(150,63,5,1.00);
}
.resume{
	margin: 10px;
	border-color: #66000E;
	border-width: 10px;
	border-style: groove;
	padding: 10px;
	color: rgba(150,63,5,1.00);
}
h1, h3{
	color: rgba(150,63,5,1.00);
}
.marineDownPic, .saveTheBoyPic, .alphaOmegaUniversityPic{
	border: groove;
	border-width: 10px;
	border-color: #662C0A;
	margin: 20px;
	max-width: 600px;
}

.lineSeperator{
	border: groove;
	border-color: #662C0A;
	border-width: 10px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: 50%;
}
.slowFade {
    display: flex;
    align-items: flex-start;
    background: #0F0E0E;
    height: 50vh;
    overflow: hidden;
    position: relative;
}
.slowFade .slide img {
    position: absolute;
    max-width: 100%;
    max-height: 50%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: slowFade 10s infinite;
            animation: slowFade 10s infinite;
}
.slowFade .slide:nth-child(4) img {
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}
@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}
.navBar{
    overflow: hidden;
}
.navBar a{
    float: right;
    color: #662C0A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 2rem;
    padding: 1rem;
}
.navBar a.active{
    background-color: #66000E;
    color: #4B0A66;
    border-radius: 2rem;
	text-shadow: #4B0A66 5px 5px 10px;
}